extends layout

block content
	div.deleteBookConfirm
		h1 #{title} - "#{book.title}"
		p Are you sure you want to delete this Book?
		form(method='POST' action='')
			input(type='hidden' name='id' value=book._id)
			button.deleteBtn(type='submit') Delete
			a(href=book.url)
				button.goBackBtn(type='button') Go back