extends layout

block content
	div.genrelist
		h1= title

		ul
			each genre in genreList
				li.genrelistlinks
					a(href=genre.url) #{genre.name} 
		a(href="/genre/create")
			button.createNewBtn Create new genre
