extends layout

block content
	h1 #{title}

	if genre_books.length

		p Delete the following books before deleting this genre.

		each book in genre_books
			ul
				li
					a(href=book.url) #{book.title}

	else
		p Are you sure you want to delete this Genre?

		form(method='POST' action='')
			input(type='hidden' name='id' value=genre._id)
			button(type='submit') Delete