doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name="viewport" content="width=device-width,initial-scale=1")
	body
		div.navbar
			a.navlink(href="/") HOME
			a.navlink(href="/books") BOOKS
			a.navlink(href="/genres") GENRES
			
		div.content
			block content
